// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #FF0000 !default;
$header-bg-color-secondary: #ff7f7f !default;

// Text
$section-headings-color: #FFF000 !default;
$body-text-color: #FFFFFF !default;
$body-link-color: #ff7f7f !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #23272A !default;
$code-text-color: #c0c0c0 !default;

// Borders
$border-color: #FFFFFF !default;
$table-border-color: #2C2F33 !default;
$hr-border-color: #2C2F33 !default;
